@font-face {
  font-family: "Lemon-Regular";
  src: url("./font_Lemon/Lemon-Regular.ttf") format("truetype");
}
* {
  font-family: "Lemon-Regular";
}
html {
  display: flex;
  height: 100%;
  justify-content: center;

  font-family: "Hanken Grotesk", sans-serif;
}
body {
  color: white;
  height: 99%;
  display: flex;
}
#weather {
  text-align: center;
  word-spacing: 0.5em;
}
#clock {
  font-size: 130px;
  flex-grow: 2;
}
#login-form {
  flex-grow: 2;
}
#todo-form,
#todo-list {
  flex-grow: 1;
}
#greeting {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 2;
}
.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

#login-input,
#todo-input {
  color: #bdbdbd;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  text-align: center;
}
input::placeholder {
  color: #ccc;
}

.check {
  border: none;
  background: transparent;
}
#todo {
  display: felx;
}
.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
